# Containers
*.sif

# Nextflow
.nextflow*
work*/*
output*/*
tmp*/* 
*.log
*.out
*.html

#venv and caches
pipeline/scripts/__pycache__/
.venv/

# results dir
tpg_expe/

# github projects
x-heep/
armlearn-wrapper/