params.prepared_TPGs_path = 'tpg_expe/training_results/*'

process {

    executor = 'slurm'
    
    withName:generate_TPG_ISA_UARCH_configs {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }
    
    withName:inference_simulator {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }
}