params.prepared_TPGs_path = [ 
    'armlearn-tpgs/tpg_l2e2_zmmul_compbare_compExpAr/training_results/*',
    'armlearn-tpgs/tpg_float/training_results/*',
    'armlearn-tpgs/tpg_fixedpt_comp_logexp_trigo_complete/training_results/*',
    'armlearn-tpgs/tpg_l2e2_zmmul_compbare/training_results/*',
]
params.tpg_expe = 'output'
params.inference_resume = false

params.uarch_list = ["cv32e40x_im1_zba_zbb", "cv32e40x_im2_zba_zbb", "cv32e40px_fpu"]

process {

    withName:generate_TPG_ISA_UARCH_configs {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }
    
    withName:inference_simulator {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }

    withName:find_missing_inference_results_nf {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }
}