params.prepared_TPGs_path = 'tpg_expe/training_results/*'
params.tpg_expe = 'tpg_expe'
params.inference_resume = true

process {

    executor = 'slurm'
    
    withName:generate_TPG_ISA_UARCH_configs {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }
    
    withName:inference_simulator {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }

    withName:find_missing_inference_results_nf {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }
     
}