assert params.projectRoot != null : "projectRoot is not defined in the configuration nor given in the command line."

slurm profile
apptainer {
    enabled = true
    autoMounts = true
    runOptions = "--bind /etc/munge --bind /run/munge --bind /etc/slurm"
}

// local profile
// apptainer {
//     enabled = true
//     autoMounts = false
// }

params.outdir = './output'