params.outdir = './output'

apptainer.enabled = true
apptainer.libraryDir='./containers'

assert params.projectRoot != null : "projectRoot is not defined in the configuration nor given in the command line."

process.executor = 'slurm'
containerEngine = 'apptainer' 

// local ne fonctionne pas à cause de generate_configs qui a besion d'entrer dans le conteneur 
// process.executor = 'local' // à désactiver -> voir création de profils d'exécution 