params.trained_TPGs_path = [ 
    'armlearn-tpgs/tpg_l2e2_zmmul_compbare_compExpAr/training_results/*',
    'armlearn-tpgs/tpg_float/training_results/*',
    'armlearn-tpgs/tpg_fixedpt_comp_logexp_trigo_complete/training_results/*'
]

process {

    // 'slurm'
    executor = 'local'
    
    withName:generate_code {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }

    withName:export_LE_states {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }
     
}