params.trained_TPGs_path = 'tpg_expe/training_results/*'

process {

    executor = 'slurm'
    
    withName:generate_code {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }

    withName:export_LE_states {
        container = "${params.projectRoot}/containers/nextflow-insa.sif"
    }
     
}