params.mini_config = 0

params.stop_mode = 'generations' // or 'time'

params.nb_generations = 100

// quick test setup 
//params.training_time = 240 // in seconds
//params.training_cores = 1 // in number of cores
//params.memory = '1 GB'

// 100 generations setup 
params.training_time = 172800 // Set a capped SLURM time for safety, e.g. 172800 seconds (48 h)
params.training_cores = 16
params.memory = '8 GB'

params.nb_seeds = 10
params.data_types = ['fixedpt'] //['float', 'double'] // ['int', 'float', 'double']
params.instruction_sets = [
    [
        'instrSetName': 'compBare',
        'useInstrTrig': false,
        'useInstrLogExp': false,
        'useInstrLog2Exp2': true,
        'useInstrZmmul' : false,
        'useInstrExpensiveArithmetic': false,
        'useInstrComparison': true 
    ],
    [
        'instrSetName': 'compZmmul',
        'useInstrTrig': false,
        'useInstrLogExp': false,
        'useInstrLog2Exp2': true,
        'useInstrZmmul' : true,
        'useInstrExpensiveArithmetic': false,
        'useInstrComparison': true 
    ],
    [
        'instrSetName': 'compExpAr',
        'useInstrTrig': false,
        'useInstrLogExp': false,
        'useInstrLog2Exp2': true,
        'useInstrZmmul' : false,
        'useInstrExpensiveArithmetic': true,
        'useInstrComparison': true 
    ]
    /*[
        'instrSetName': 'logexp',
        'useInstrTrig': false,
        'useInstrLogExp': true,
        'useInstrExpensiveArithmetic': true,
        'useInstrComparison': true
    ],
    [
        'instrSetName': 'trigo',
        'useInstrTrig': true,
        'useInstrLogExp': false,
        'useInstrExpensiveArithmetic': true,
        'useInstrComparison': true
    ],
    [
        'instrSetName': 'complete',
        'useInstrTrig': true,
        'useInstrLogExp': true,
        'useInstrExpensiveArithmetic': true,
        'useInstrComparison': true
    ]
    ,[
        'instrSetName': 'lowcost',
        'useInstrTrig': false,
        'useInstrLogExp': true,
        'useInstrExpensiveArithmetic': false,
        'useInstrComparison': true
    ] */
]