params.nb_seeds = 5

params.types = ['int', 'float', 'double']

params.instruction_sets = [
    [
        'instrSetName': 'base',
        'useInstrTrig': false,
        'useInstrLogExp': false,
        'useInstrExpensiveArithmetic': true,
        'useInstrComparison': false
    ],
    [
        'instrSetName': 'comp',
        'useInstrTrig': false,
        'useInstrLogExp': false,
        'useInstrExpensiveArithmetic': true,
        'useInstrComparison': true
    ],
    [
        'instrSetName': 'logexp',
        'useInstrTrig': false,
        'useInstrLogExp': true,
        'useInstrExpensiveArithmetic': true,
        'useInstrComparison': true
    ],
    [
        'instrSetName': 'trigo',
        'useInstrTrig': true,
        'useInstrLogExp': false,
        'useInstrExpensiveArithmetic': true,
        'useInstrComparison': true
    ],
    [
        'instrSetName': 'complete',
        'useInstrTrig': true,
        'useInstrLogExp': true,
        'useInstrExpensiveArithmetic': true,
        'useInstrComparison': true
    ],
    [
        'instrSetName': 'lowcost',
        'useInstrTrig': false,
        'useInstrLogExp': true,
        'useInstrExpensiveArithmetic': false,
        'useInstrComparison': true
    ]
]